<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
<div>
    <a href="/add">Add book</a>
</div>
{% for book in page_obj %}
<div class="row">
    <div>Name: {{ book.name }}</div>
    <div>Author: {{ book.author }}</div>
    <div>Price: {{ book.price }}</div>
    <a href="/{{ book.id }}/edit" class="btn">Edit</a>
    <a href="/{{ book.id }}/delete" class="btn">Delete</a>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>